@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 35px;
    text-align: center;
    margin-top: 20%;
}